<div class="container wrapper" id="registerView">
	<div class="row">
			<div class="col-lg-6 col-md-6">
				<div class="panel panel-warning">
  				<div class="panel-heading">
    				<h3 class="panel-title">Products</h3>
  				</div>
  				<div class="panel-body" id="registerProducts">
  				</div>
				</div>
			</div>
			<div class="col-lg-6 col-md-6">
				<div class="panel panel-warning">
  				<div class="panel-body" id="registerReceipt">
  				</div>
					<div class="panel-footer" id="registerTotal">

					</div>
				</div>
				<div class="row" id="registerButtons">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="col-lg-3 col-md-3 col-sm-3 col-sm-offset-2 col-xs-4"><a href="#" class="btn btn-squared-default-plain btn-primary disabled" id="createTable"><img src="/assets/images/table.png"><br>Table</a></div>
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-4"><a href="#" class="btn btn-squared-default-plain btn-primary disabled" id="readyToPay" data-target='#payModal' data-toggle='modal'><img src="/assets/images/money.png"><br>Pay</a></div>
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-4"><a href="#" class="btn btn-squared-default-plain btn-primary disabled" id="updateReceipt"><img src="/assets/images/update.png"><br>Update</a></div>
					</div>
				</div>
				<div class="row" id="registerCustomer">

				</div>
			</div>
		</div>
		<div class="modal fade" id="payModal" role="dialog" tabindex="-1" aria-labelledby="payLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
          </div>
          <div class="modal-body">
          </div>
          <div class="modal-footer">
          </div>
        </div>
      </div>
    </div>
</div>
<script src="assets/js/init.js"></script>
<script src="assets/js/register.js"></script>
