<div class="container wrapper" id="registerView">
	<div class="row">
			<div class="col-lg-6">
				<div class="panel panel-info">
  				<div class="panel-heading">
    				<h3 class="panel-title">Products</h3>
  				</div>
  				<div class="panel-body" id="registerProducts">
  				</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="panel panel-default">
  				<div class="panel-body" id="registerReceipt">
						Order
  				</div>
					<div class="panel-footer" id="registerTotal">

					</div>
				</div>
				<div class="row" id="registerButtons">
					<a href="#" class="btn btn-info col-lg-2" id="createTable">Table</a>
					<a href="#" class="btn btn-info col-lg-2" id="readyToPay">Pay</a>
				</div>
				<div class="row" id="registerCustomer">
					
				</div>
			</div>
		</div>
</div>
<script src="assets/js/register.js"></script>
